<div class="emp-form">
  <div class="row">
    <div class="col-md-6 form-group">
      <input placeholder="First Name" class="form-control" [(ngModel)]="employeeService.currentEmployee.firstName">
    </div>
    <div class="col-md-6 form-group">
      <input placeholder="Last Name" class="form-control" [(ngModel)]="employeeService.currentEmployee.lastName">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
      <input placeholder="Business Email" class="form-control" [(ngModel)]="employeeService.currentEmployee.designation">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
      <input placeholder="address" class="form-control" [(ngModel)]="employeeService.currentEmployee.address">
    </div>
    <div class="col-md-12 form-group">
      <input placeholder="City" class="form-control" [(ngModel)]="employeeService.currentEmployee.city">
    </div>
    <div class="col-md-12 form-group">
      <input placeholder="Your Role" class="form-control" [(ngModel)]="employeeService.currentEmployee.yourrole">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <button class="btn btn-success btn-lg btn-block" (click)="createOrUpdateEmployee(employeeService.currentEmployee)">
        
        Submit
      </button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary btn-lg btn-block" (click)="clearEmployee()">
        
        CLEAR
      </button>
    </div>
  </div>
</div>